<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="h3">Contact list</p>
                <p>A contact list using the http://randomuser.me API. You can sort the contacts by lastname and view contact details</p>
            </div>
        </div>
    </div>
</section>

<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <app-contact-list [contacts]="contacts$ | async" (sendContact)="selectedContact=$event"></app-contact-list>
            </div>
            <div class="col-md-3">
                <app-contact-card *ngIf="isTablet || isDesktop" [selectedContact]="selectedContact"></app-contact-card>
            </div>
        </div>
    </div>
</section>

