.navigation {
    background-color: #193f82;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 30rem;
}
