<div class="offcanvas-header" *ngIf="selectedContact">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">
        {{ selectedContact.name.first }} {{ selectedContact.name.last }}
    </h4>
    <button
        type="button"
        class="btn-close text-reset"
        aria-label="Close"
        (click)="activeOffcanvas.dismiss('Cross click')"
    ></button>
</div>
<div class="offcanvas-body">
    <div class="card">
        <img
            [src]="selectedContact.picture.large"
            alt="{{ selectedContact.name.first }} {{
                selectedContact.name.last
            }}"
        />
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text"><a href="mailto:{{selectedContact.email}}">{{selectedContact.email}}</a></p>
                </li>
                <li class="list-group-item">
                    <p class="card-text"><a href="tel:{{selectedContact.phone}}">{{selectedContact.phone}}</a></p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">
                        {{ selectedContact.location.street.number }}
                        {{ selectedContact.location.street.name }}
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">
                        {{ selectedContact.location.city }} ,
                        {{ selectedContact.location.state }}
                        {{ selectedContact.location.postcode }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
