<div class="card sticky-top shadow-lg contact-card" *ngIf="isNotEmpty()">
    <img [src]="selectedContact.picture.large" alt="{{selectedContact.name.first}} {{selectedContact.name.last}}">
    <div class="card-body">
        <h5 class="card-title">{{selectedContact.name.first}} {{selectedContact.name.last}}</h5>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <p class="card-text">{{selectedContact.email}}</p>
    </li>
    <li class="list-group-item">
        <p class="card-text">{{selectedContact.phone}}</p>
    </li>
    <li class="list-group-item">
        <p class="card-text">{{selectedContact.location.street.number}} {{selectedContact.location.street.name}}</p>
    </li>
    <li class="list-group-item">
        <p class="card-text">{{selectedContact.location.city}}, {{selectedContact.location.state}} {{selectedContact.location.postcode}}</p>
    </li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-primary" (click)="onClose($event)">Close</a>
    </div>
</div>
